<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @passenger.name %>!</h1>
    <p>
      We here at Flight Booker would just like to thank you for booking with us!
      <br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for booking and have a great day!</p>
  </body>
</html>